<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823894824642-qiqoqkm6054j7qmt4a1mrcts9s3v6idt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823894824642-qiqoqkm6054j7qmt4a1mrcts9s3v6idt</string>
	<key>API_KEY</key>
	<string>AIzaSyBDrvfPvQroK3Ga58wv4Q_6csBCXSY6psw</string>
	<key>GCM_SENDER_ID</key>
	<string>823894824642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alandisseals.WhatsTheRecipe</string>
	<key>PROJECT_ID</key>
	<string>recipeappdatabase-488a4</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeappdatabase-488a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823894824642:ios:08d03c28ddf81c08540d5b</string>
</dict>
</plist>